* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    max-width: 900px;         
    line-height: 1.6;
    background: aliceblue;
    color: hotpink;
}


details {
    cursor: pointer;
}

.indent {
    margin-left: 20px;
}

summary::marker {
    color: beige;
}

img {
    width: 150px;
}
